*{
  margin: 0;
}
.App {
  background-color: #fafafa;
  height: 100vh;
}
.app__postRight {
  margin-left: 20px;
}
.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.app__headerImage {
  padding: 10px;
  /* width: 170px;
  height: 80px; */
  object-fit: contain;
  margin-left: 250px;
}
.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 1px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__signup {
  display: flex;
  flex-direction: column;
}
.app__loginContainer {
  margin-right: 250px;
}